.intro-content {
    /* Usando */
    position: relative;
    /* top: -4rem; */
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);
    min-height: 100vh;
    max-width: 120rem;
}

.intro-text-content,
.intro-img {
    /* Usando */
    display: flex;
    justify-content: center;
    text-align: center;
}

.intro-text-content h2 {
    margin-top: 10rem;
    border-bottom: 0.5rem solid var(--white-color);
    margin-bottom: 6rem;
}

.intro-img img {
    margin-bottom: 10rem;
    max-width: 100%;
    height: auto;
    width: 35rem;
}

/* .top3-content {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
} */

.grid-one-content {
    /* Usando */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-content ul li {
    /* Usando */
    text-align: justify;
    margin-left: 2rem;
    list-style: decimal;
    margin-bottom: 3rem;
}

.text-white p a {
    color: var(--white-color);
}

.text-primary p a {
    color: var(--primary-color);
}

.grid-one-content p a:hover {
    text-decoration: dotted underline;
}

.grid-main-heading {
    margin-bottom: 5rem;
    /* padding-top: 6rem; */
}

.grid-description {
    padding-bottom: 10rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /* Contador  */
    counter-reset: grid-counter;
}

.grid h3 {
    /* white-space: nowrap; */
    font-size: 3rem;
    position: relative;
    padding-left: 8rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: 0;
    transform: rotate(10deg);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
    /* border-radius: 2rem; */
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(3deg);
}

.contact-form {
    /* Estende o formulário para 2 colunas da grid */
    grid-column: span 2;
}

.contact-form .form-grid {
    border: 0.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap)
}

.form-grid legend {
    font-size: 1.6rem;
    font-style: italic;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    border-radius: 0.5rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 0.4rem 0.1rem var(--light-gray-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--placeholder-color);
    font-family: 'Open Sans', sans-serif;
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: var(--primary-color);
}

.footer p {
    margin: 0;
    padding: 3rem;
    text-align: center;
}

.heart {
    color: var(--secondary-color);
}

.close-menu {
    display: none
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-92deg);
    border: 0.4rem solid var(--primary-color);
}

@media (max-width: 800px) {

    .intro-content,
    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .grid-one-content {
        display: block;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 3rem;
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        text-align: center;
        padding: 0.3rem;
        cursor: pointer;
    }

    /* × */
    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        font-size: 5rem;
    }

    .menu-spacing {
        display: none;
    }
}